*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;

  gap: 5rem;
}

body {
  font-family: sans-serif;
  color: grey;
  font-weight: 300;
  line-height: 1.6;
}

.fa-heart {
  color: red;
}
.fa-canadian-maple-leaf {
  color: black;
}
.fa-gem {
  color: red;
}
.fa-candy-cane {
  color: black;
}

.shuffle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem;
  background-color: hsl(229, 100%, 75%);
  height: 8rem;
  width: 16rem;
  border-radius: 11px;
  margin-top: 2rem;
  color: Black;
  font-size: 2rem;
  text-transform: uppercase;
}

.shuffle {
  transition: all 0.05s;
  border: none;
}

.shuffle:active {
  transform: translateY(-3px);
  background-color: red;
  border: 2px solid black;
  color: white;
}

#top-card {
  border: 2px solid blue;
  padding: 7rem 3rem;
  border-radius: 11px;
  color: white;
  font-size: 2rem;
}

.pink {
  background-color: pink;
}

.grey {
  background-color: grey;
}
